@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VALORES GLOBALES */
body{
    font-family: 'Poppins', sans-serif;
    /*background-color: #EDEDED;*/
    /*background-image: url("./src/FONDO_FINAL_4_page-0001.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}
.w-1200{
    width: 100%;
    max-width: 1200px;
}
.title{
    font-size: 3rem;
    font-weight: 500;
}
.subtitle{
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}
.paragraph-center{
    text-align: center;
    margin-bottom: 1rem;
}


/* HEADER */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./src/fondo-v1.1.14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-color: rgba(0, 0, 0, 0.151);*/
    /*background-color: #0E0B3B;*/
    color: #fff;
    /*background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(173,0,171,1) 0%, rgba(15,51,92,1) 90% );*/
}
.navegation{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    margin-bottom: 4rem;
}
ul{
    display: inline-flex;
    gap: 1.1rem;
    list-style: none;
}
ul li a{
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 15px;
}
ul li .activo{
    background-color: #401458;
}
ul li a:hover{
    background-color: #401458;
    transition: all 0.5s;
}
ul li a:active{
    background-color: #60539C;
    -webkit-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.47);
}
.menu-burger{
    display: none;
}
.close-burger{
    display: none;
}


/* BANNER */
.main{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #fff;*/
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.banner-info{
    display: flex;
    justify-content: space-between;
}


.resume{
    width: 100%;
    font-weight: 300;
    margin: 0;
    margin-bottom: 15px;
}

.btn-primary{
    background-color: #E26868;
    color: #fff;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: #e35050;
    color: #fff;
    font-weight: bold;
}
.btn-primary:active{
    background-color: rgb(227, 56, 56);
    color: #fff;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(226,104,104,0.91);
    -moz-box-shadow: 0px 0px 3px 3px rgba(226,104,104,0.91);
    box-shadow: 0px 0px 3px 3px rgba(226,104,104,0.91);
}

.img-profile{
    width: 300px;
    border-radius: 50%;
}

/* SECTION WORKS */

.text-works{
    font-size: 3em;
    color: #07143e;
    text-align: center;
    margin-bottom: 60px;
}
.projects{
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    justify-content: center;
    margin-bottom: 70px;
}
/* VISTA DE UN PROYECTO */
.project{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 500px;
    height: 215px;
}
.project-img{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}
.project-img a img{
    width: 100%;
    height: 100%;
}

.project-card{
    width: 300px;
    border-radius: 25px;
    position: absolute;
    right: 0;
    height: 100%;
    padding: 25px;
    
}
.project-card-yellow{
    transition: 0.4s;
}
.project-card-yellow:hover{
    -webkit-box-shadow: 0px 0px 0px 4px #fec859;
    -moz-box-shadow: 0px 0px 0px 4px #fec859;
    box-shadow: 0px 0px 0px 4px #fec859;
}
.project-card-color{
    transition: 0.4s;
}
.project-card-color:hover{
    -webkit-box-shadow: 0px 0px 0px 4px #43b5a0;
    -moz-box-shadow: 0px 0px 0px 4px #43b5a0;
    box-shadow: 0px 0px 0px 4px #43b5a0;
}

.project-card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.project-card-title{
    font-size: 0.8em;
}
.project-card-title a{
    text-decoration: none;
    color: #07143e;
}
.project-card-body p{
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #3c4870;
    cursor: default;
}
.icons-tec{
    display: flex;
    flex-direction: column;
}
.icon-tec{
    width: 20px;
    margin-right: 10px;
}
.icons-tec h4{
    margin-bottom: 10px;
}
.tecnologias{
    display: flex;
    flex-direction: row;
}
.img-porcentaje{
    display: flex;
    align-items: center;
}
.bar{
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-radius: 25px;
    margin-right: 10px;
}
.bar-progress{
    height: 10px;
    background-color: #781291;
    border-radius: 25px;
}
.p25{width: 25%;}
.p35{width: 35%;}
.p45{width: 45%;}
.p50{width: 50%;}
.p75{width: 75%;}
.p90{width: 90%;}

.label-dark{
    background-color: #142850;
    color: #fff;
    text-align: center;
    width: 40px;
    height: 25px;
    border-radius: 25px;
    padding: 3px;
    font-weight: 400;
    font-size: 0.8em;
}

.footer{
    background-color: #07143e;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-licks{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
    row-gap: 50px;
}
.footer-licks a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.footer-licks a ion-icon{
    font-size: 2em;
}
.footer-copyrigth{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.footer-copyrigth h2,.footer-copyrigth span{
    color: rgba(170, 170, 170, 0.596);
    font-size: 1em;
}

.fb{color: #0B86EE;transition: 0.5s;}
.fb:hover{
    border-radius: 25px;
    color: #07143e;
    background-color: #0B86EE;
}
.github{color: #FFFFFF;transition: 0.5s;}
.github:hover{
    border-radius: 25px;
    color: #07143e;
    background-color: #fff;
}
.insta{color: #F2009E;transition: 0.5s;}
.insta:hover{
    border-radius: 8px;
    color: #07143e;
    background-color: #F2009E;
}
.wa{color: #42BC51;transition: 0.5s;}
.wa:hover{
    border-radius: 25px;
    color: #07143e;
    background-color: #42BC51;
}

/* CONTACTO */
.contact{
    background-color: #401458;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form input,.contact-form textarea {
    width: 80%;
    padding: 15px 30px;
    border-radius: 14px;
    border: 2px solid #fff;
    color: #07143e;
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: bold;
}
.contact-form .btn-send{
    background-color: #fec859;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    width: 80%;
    padding: 15px 20px;
    border: none;
    border-radius: 14px;
}

.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-info{
    display: grid;
    grid-template-columns: auto auto;
    gap: 90px;
    align-items: center;

}
.m-0{
    margin: 0;
}
.about-i{
    padding: 20px;
    color: #07143e;
    /*background-color: #43b5a0;
    border-radius: 15px;
    */
}
.foto-perfil-about{
    width: 250px;
    border-radius: 50%;
}


.bg-green{background-color: #BAEF5A;}
.bg-orange{background-color: #FF8B13;}
.bg-red{background-color: #ee5674;}
.bg-lightblue{background-color: #2DCDDF;}
.bg-yellow{background-color: #fec859;}
.bg-pink{background-color: #FEA1BF;}
.bg-color{background-color: #43b5a0;}
.bg-color2{background-color: #C147E9;}

.text-white{
    color: #fff;
}




/* MEDIA SCREEN */
@media screen and ( max-width:600px ) {

    .navegation{
        align-items: center;
        position: relative;
    }
    ul{
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(173,0,171,1) 0%, rgba(15,51,92,1) 90% );
        height: 100vh;
        font-size: 1.5em;
        transition: 0.5s;
    }
    ul li{
        margin-bottom: 50px;
    }
    .menu-burger, .close-burger{
        display: block;
        font-size: 2.5em;
        cursor: pointer;
        margin-right: 30px;
    }
    .close-burger{
        display: none;
        margin-left: 70px;
    }

    .banner-info{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .img-profile{
        width: 60%;
        justify-content: center;
        margin: 20px auto;
    }

    .projects{
          grid-template-columns: auto;
          justify-content: center;
          align-items: center;
    }
    .project{
        width: 300px;
        height: 400px;
    }
    .project-img{
        position: absolute;
        top: 0;
        width: 300px;
        border-radius: 25px 25px 0 0;
    }
    .project-card{
        position: absolute;
        height: 215px;
        left: 0;
        bottom: 0;
    }

    .footer-licks{
        grid-template-columns: auto auto;
        gap: 50px;
    }
    .footer-copyrigth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
