* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VALORES GLOBALES */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    padding: 15px;
}
.nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.title{
    font-size: 3rem;
    font-weight: 500;
}
.resume{
    width: 45%;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary{
    background-color: #ff6464;
    color: #fff;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: yellow;
    color: #000;
    font-weight: bold;
}

.img-profile{
    width: 300px;
    border-radius: 50%;
}

/* SECTION WORKS */
.section-works{
    max-width: 800px;
    margin: auto;
}

.card{
    display: flex;
}

.card div img{
    width: 250px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    border: solid 2px;
    box-shadow: 0 15px 25px;
}

.text-works{
    font-size: 1em;
    margin-bottom: 30px;
    font-weight: 300;
}

.container-detail{
    margin-left: 30px;
}
.container-detail p{
    margin-top: 20px;
    width: 100%;
}
.label-dark{
    background-color: #142850;
    color: #fff;
    border-radius: 16px;
    padding: 5px 10px;
    font-weight: bold;
}

.text-light{
    color: #8695a4;
}

hr{
    height: 0.5px;
    background-color: #ff6464;
    border: 0.5px solid #ff6464;
    margin-top: 10px;
    margin-bottom: 20px;
}
.link-portafolio{
    color: #000;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    border: solid 1px gray;
    border: 10px;
}

/* MEDIA SCREEN */
@media screen and ( max-width:600px ) {
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .title{
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .resume{
        margin: 0 auto;
        font-size: 20px;
    }
    .img-profile{
        width: 200px;
        border-radius: 50%;
    }
    .btn-primary{
        margin: 20px;
    }
}